Print current date and time

In [ ]:
#1. Write a Python program to display the current date and time
from datetime import datetime
import pytz # for timezone() 
today = date.today()
#print(today) # print in yyyy-mm-dd format
#print(today.strftime("%d/%m/%Y")) # print in dd/mm/yyyy format
#print(today.strftime("%m/%d/%Y")) # print in mm/dd/yyyy format
#print(today.strftime("%B %d, %Y")) # print in Month dd, yyyy format
#print(today.strftime("%b-%d-%Y")) # print in Mon-dd-yyyy format
time_now = datetime.now(pytz.timezone('Asia/Kolkata')) # get India time zone
print(time_now)

2022-05-31 15:21:45.035751+05:30

In [ ]:
#2. Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those number
a = input().split(',')
for i in range(len(a)):
  a[i] = int(a[i])
print(a) #printing the list
print(tuple(a)) #printing the tuple

1,2,3
[1, 2, 3]
(1, 2, 3)

In [ ]:
#3. Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0])
print(color_list[len(color_list)-1])

Red
Black

In [ ]:
#4. Write a Python program to test whether a number is within 100 of 1000 or 2000
n = int(input())
if (n >= 900 and n <= 1100) or (n >= 1900 and n <= 2100):
  print('yes')
else:
  print('no')

50
no

In [ ]:
#5. Write a Python program to print all even numbers
n = int(input('Until what number do you want the even numbers to be printed: '))
for i in range(2,n+1,2):
  print(i)

Until what number do you want the even numbers to be printed 11
2
4
6
8
10

In [9]:
#6. Write a Python program to get the difference between the two lists
l1 = input('Enter list 1  ').split(',')
l2 = input('Enter list 2  ').split(',')
for i in range(len(l1)):
  l1[i] = int(l1[i])
for i in range(len(l2)):
  l2[i] = int(l2[i])
def list_diff(l1,l2):
  return (list(set(l1)-set(l2)) + list(set(l2)-set(l1)))
print(list_diff(l1,l2))

Enter list 1  1,2,3,4,5,5
Enter list 2  1,3,7,8
[2, 4, 5, 8, 7]

In [21]:
#7. Write a Python program to find the list in a list of lists whose sum of elements is the highest
L = [[1,2,3], [4,5,6], [10,11,12], [7,8,9]]
n = len(L)
summ = [0]*n
for i in range(0,len(L)):
  for j in range(0,len(L[i])):
    summ[i] = summ[i] + L[i][j]
print(L[summ.index(max(summ))])

[10, 11, 12]

In [30]:
#8. Write a Python program to round every number of a given list of numbers and print the total sum multiplied by the length of the list
L = [22.4, 4.0, -16.22, -9.1, 11.0, -12.22, 14.2, -5.2, 17.5]
sum1 = 0
for i in range(0,len(L)):
  sum1 = sum1 + round(L[i])
print(sum1*len(L))

243

In [35]:
#9. Write a Python program to remove specific words from a given list
L1 = ['red', 'green', 'blue', 'white', 'black', 'orange']
L2 = ['white', 'orange']
print(list(set(L1)-set(L2)))

['blue', 'green', 'black', 'red']

In [41]:
#10. Write a Python script to concatenate following dictionaries to create a new one
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}
dic = dic1
dic.update(dic2)
dic.update(dic3)
print(dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [17]:
#11. Write a Python program to multiply all the items in a dictionary
dic = {1:10, 2:20, 3:30, 4:40, 5:50, 6:60}
pdt_values = 1
pdt_keys = 1
pdt_all = 1
for i in dic:
  pdt_values = pdt_values*dic[i]
  pdt_keys = pdt_keys*i
  pdt_all = pdt_all*i*dic[i]
print('product of values = ',pdt_values)
print('product of keys = ',pdt_keys)
print('product of both = ',pdt_values*pdt_keys)

product of values =  720000000
product of keys =  720
product of both =  518400000000

In [22]:
#12. Write a Python program to get the 4th element and 4th element from last of a tuple
tup = (1,2,3,4,5,6,7,8,9,10)
print('4th element is ',tup[3])
print('4th element from last is ',tup[len(tup)-4])

4th element is  4
4th element from last is  7

In [32]:
#13.  Write a Python program to convert a tuple to a dictionary
di = {}
def tup2dict(t):
	di = dict(t)
	return di

tup = [(1, 10), (2, 20), (3, 30),
	(4, 40), (5, 50), (6, 60)]
print (tup2dict(tup))

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [35]:
#14. Write a Python program to remove all elements from a given set
se = {1,2,3,4,5}
se.clear()
print(se)

set()

In [38]:
#15. Write a Python program to check if a given set is superset of itself and superset of another given set
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {1,2,3}
print('Is set 1 a subset of set 2: ',(set1.issubset(set2)))
print('Is set 1 a superset of set 2: ',(set1.issuperset(set2)))

Is set 1 a subset of set 2:  False
Is set 1 a superset of set 2:  True